:root {
  --color-light-purple: #f5f3ff;
  --color-light-purple-border: #d9c3ff;
  --color-purple: #6129e9cc;
  --color-purple-hover: #6129e9;
  --color-input: #ceb2ff;
  --color-pink-modal: #ff447ccc;
  --color-pink-modal-hover: #ff447c;
  --color-comment-input: #cbcdd6;
  --color-comment-input-hover: #5c37ff;
  --color-input-placeholder: #8d8e94;
  --color-input-shadow: #2b273526;
  --color-mint-banner: #9ce3cf;
  --color-mint-hash: #d6f3eb;
  --color-blue: #2e40bb;
  --color-white: #fff;
  --color-black: #101010;
  --color-border: #ddd;
  --color-gray: #49494c;
  --color-comment: #49494c;
  --color-white-gray: #fbfbfb;
  --color-mde-toolbar: #a3a1a1;
  --color-date: #65686d;
  --color-like: #ff447c;
  --color-item-shadow: #61606026;
  --color-modal-overlay: #00000080;
  --color-modal-shadow: #0000001a;
  --color-modal-gray: #eaeaeccc;
  --color-modal-gray-hover: #eaeaec;
  --font-size-logo: 2.5rem;
  --font-size-extra-small: 0.7rem;
  --font-size-small: 0.8rem;
  --font-size-medium: 1rem;
  --font-size-extra-medium: 1.5rem;
  --font-size-large: 2rem;
  --font-size-user: 30px;
  --font-size-knowledge-user: 150px;
}
