:root {
  --color-light-purple: #f5f3ff;
  --color-light-purple-border: #d9c3ff;
  --color-purple: #6129e9cc;
  --color-input: #ceb2ff;
  --color-mint-banner: #9ce3cf;
  --color-mint-hash: #d6f3eb;
  --color-blue: #2e40bb;
  --color-white: #fff;
  --color-black: #101010;
  --color-border: #ddd;
  --color-gray: #49494c;
  --color-white-gray: #fbfbfb;
  --color-mde-toolbar: #a3a1a1;
  --color-date: #65686d;
  --color-like: #ff447c;
  --font-size-logo: 2.5rem;
  --font-size-extra-small: 0.7rem;
  --font-size-small: 0.8rem;
  --font-size-medium: 1rem;
  --font-size-large: 2rem;
}
